body{
    top: 0%;
    left: 0%;
     margin: 0%;
    
}

*{
    text-align: center;
    align-items: center;

}

.mont{
    font-family: 'Montserrat', sans-serif;
}

.shippori{
    font-family: 'Shippori Mincho B1', serif;
}

.container-fluid{
    padding: 0%;
}

/* navbar */

.navbar{
  display: flex;
    background-color:rgb(214, 189, 134);
}

.logo{
  
   width: 50%;
   margin-top: 20px; 
}

.logo h1{
    font-size: 2rem;
}

.nav{
    width: 50%;
    margin-top: 20px;  
    font-size: 1.6rem;
   
}

.nav a{
    margin: 30px;
    padding: 5px;
    color: black;
    text-decoration: none;
}

.nav a:hover{
  background-color: rgb(226, 202, 171);
  border-radius: 10px;
}

/* section1 */

.section1{
    display: flex;
    padding-top: 50px;
    background-color:rgb(214, 189, 134); 
    padding-bottom: 130px;
}

.left1{
    width: 50%;   
}

.left1 img{
    width: 400px;
    height: 450px;
}

.right1{
    width: 50%;
    padding-right: 20px;
}

.right1 h1{
    font-size: 2rem;
    line-height: 2;
    
}

.right1 h2{
   
    font-size: 1.8rem;
    line-height: 1.3;
}


/* welcome */

.welcome{
    height: 400px;   
}

.welcome h1{
    font-size: 2.3rem; 
    line-height: 2;
    padding-top: 60px;   
}

.welcome h2{
  margin: auto 15px auto 15px;
  font-size: 1.8rem;
  line-height: 1.3;
}
 
.section2{
    display: flex;
    padding-top: 70px;
    background-color:rgb(214, 189, 134); 
    padding-bottom: 50px;
}

.left2{
    width: 50%;
}

.right2 img{
    width: 450px;
    height: 450px;
}

.right2{
    width: 50%;
    padding-right: 20px;
}

.left2 h1{
    font-size: 2rem;
    line-height: 2;
}

.left2 h2{
   margin: auto 15px auto 15px;
   font-size: 1.8rem;
   line-height: 1.3;
}

/* carousel */

.heading{
    font-size: 2rem;
    padding-top: 40px;
}

.carousel-inner{
    width: 1000px;
    height: 620px;
}

.carousel-item img{
    width: 400px;
    height: 530px;   
}

.image-carousel{
    margin:45px 100px 150px 550px; 
}

/* animation */

span::before{
    content: '';
    animation: animate infinite 12s;
}

#wrapper{
    font-size: 1.8rem;
    text-align: center;
    padding-bottom: 30px;

}

@keyframes animate{
    0%{
        content: "Live, Love, Eat";

    }
    20%{
        content: "Oh,did you say exercise?I thought you said extra fries!";
    }
    40%{
        content: "Good Food, Good Mood";
    }
    60%{
        content: "Where there is good food, there is happiness.";
    }
    80%{
        content: "Eat today, Live another day.";
    }
    100%{
        content: "Count memories, not calories";
    }
}

/* contact form */

.email-container{
 
    margin-top: 100px;
    background-color:rgb(214, 189, 134);
    height: 450px;
}

.email{
    margin-top: 20px; 
}

.box{
    width: 280px;
}

.form-label{
    margin-top: 20px;
}

#button a{
   color: black;
   text-decoration: none;
}

.signin{
    color: black;
    text-decoration: none;
}

.signin:hover{
    color: white;
}

.forgot{
    color: black;
    text-decoration: none;
}

.forgot:hover{
    color: white;
}

@media only screen and (min-width:375px) and (max-width:812px){
    body{
        top: 0%;
        left: 0%;
         margin: 0%;
        
    }
    
    *{
        text-align: center;
        align-items: center;
    
    }
    
    .mont{
        font-family: 'Montserrat', sans-serif;
    }
    
    .shippori{
        font-family: 'Shippori Mincho B1', serif;
    }
    
    .container-fluid{
        padding: 0%;
    }
    
    .navbar{
        display: flex;
        flex-direction: column;
    }
    .logo{
  
        width: 100%;
        margin-top: 20px; 
     }
     
     .logo h1{
         font-size: 2rem;
     }
     
     .nav{
         width: 100%;
         margin-top: 20px;  
         font-size: 1.3rem;
        
     }
     
     .nav a{
         margin: 10px 10px 10px 10px;
         padding: 0px;
         color: black;
         text-decoration: none;
     }
     
     .nav a:hover{
       background-color: rgb(226, 202, 171);
       border-radius: 10px;
     }
     
     /* section1 */
     
     .section1{
         display: flex;
         flex-direction: column;
         padding-top: 50px;
         background-color:rgb(214, 189, 134); 
         padding-bottom: 100px;
     }
     
     .left1{
         width: 100%;   
     }
     
     .left1 img{
         width: 300px;
         height: 350px;
     }
     
     .right1{
         width: 100%;
         padding-right: 20px;
     }
     
     .right1 h1{
         font-size: 1.8rem;
         line-height: 2;
         padding-top: 20px;
         
     }
     
     .right1 h2{
        
         font-size: 1.8rem;
         line-height: 1.3;
       
     }
     
     
     /* welcome */
     
     .welcome{
         height: 750px;   
     }
     
     .welcome h1{
         font-size: 2rem; 
         line-height: 2;
         padding-top: 60px;   
     }
     
     .welcome h2{
       margin: auto 15px auto 15px;
       font-size: 1.6rem;
       line-height: 1.3;
     }
      
     .section2{
         display: flex;
         flex-direction: column;
         padding-top: 70px;
         background-color:rgb(214, 189, 134); 
         padding-bottom: 50px;
     }
     
     .left2{
         width: 100%;
     }
     
     .right2 img{
         width: 300px;
         height: 350px;
         margin-top: 25px;
     }
     
     .right2{
         width: 100%;
         padding-right: 20px;
     }
     
     .left2 h1{
         font-size: 1.8rem;
         line-height: 2;
     }
     
     .left2 h2{
        margin: auto 15px auto 15px;
        font-size: 1.8rem;
        line-height: 1.3;
     }
     
     /* carousel */
     
     .heading{
         font-size: 2rem;
         padding-top: 40px;
     }
     
     .carousel-inner{
         width: 1000px;
         height: 620px;
     }
     
     .carousel-item img{
         width: 400px;
         height: 500px;   
     }
     
     .image-carousel{
         margin:45px 590px 150px 0px; 
     }
}

@media only screen and (min-width:768px) and (max-width:1024px){
    body{
        top: 0%;
        left: 0%;
         margin: 0%;
        
    }
    
    *{
        text-align: center;
        align-items: center;
    
    }
    
    .mont{
        font-family: 'Montserrat', sans-serif;
    }
    
    .shippori{
        font-family: 'Shippori Mincho B1', serif;
    }
    
    .container-fluid{
        padding: 0%;
    }
    
    /* navbar */
    
    .navbar{
      display: flex;
      flex-direction: column;
        background-color:rgb(214, 189, 134);
    }
    
    .logo{
      
       width: 100%;
       margin-top: 20px; 
    }
    
    .logo h1{
        font-size: 2rem;
    }
    
    .nav{
        width: 100%;
        margin-top: 10px;  
        font-size: 1.6rem;
       
    }
    
    .nav a{
        margin: 35px;
        padding: 10px;
        color: black;
        text-decoration: none;
    }
    
    /* section1 */
    
    .section1{
        display: flex;
        padding-top: 50px;
        background-color:rgb(214, 189, 134); 
        padding-bottom: 130px;
    }
    
    .left1{
        width: 100%;   
    }
    
    .left1 img{
        width: 400px;
        height: 450px;
    }
    
    .right1{
        width: 100%;
        padding-right: 20px;
    }
    
    .right1 h1{
        font-size: 2.2rem;
        line-height: 2;
        
    }
    
    .right1 h2{
       
        font-size: 1.8rem;
        line-height: 1.3;
    }
    
    
    /* welcome */
    
    .welcome{
        height: 550px;   
    }
    
    .welcome h1{
        font-size: 2.2rem; 
        line-height: 2;
        padding-top: 60px;   
    }
    
    .welcome h2{
      margin: auto 15px auto 15px;
      font-size: 1.8rem;
      line-height: 1.3;
    }
     
    .section2{
        display: flex;
        padding-top: 70px;
        background-color:rgb(214, 189, 134); 
        padding-bottom: 80px;
    }
    
    .left2{
        width: 100%;
    }
    
    .right2 img{
        width: 450px;
        height: 450px;
        margin-top: 30px;
    }
    
    .right2{
        width: 100%;
        padding-right: 20px;
    }
    
    .left2 h1{
        font-size: 2.2rem;
        line-height: 2;
    }
    
    .left2 h2{
       margin: auto 15px auto 15px;
       font-size: 1.8rem;
       line-height: 1.3;
    }
    /* carousel */
    .image-carousel{
        margin:45px 350px 150px 150px; 
        
    }

}
@media only screen and (min-width:1024px) and (max-width:1366px){
/* navbar */
    
.navbar{
    display: flex;
    flex-direction: column;
      background-color:rgb(214, 189, 134);
  }
  
  .logo{
    
     width: 50%;
     margin-top: 20px; 
  }
  
  .logo h1{
      font-size: 2rem;
  }
  .navbar{
      display: flex;
      flex-direction: row;
  }
  .nav{
      width: 50%;
      margin-top: 10px;  
      font-size: 1.8rem;
     
  }
  
  .nav a{
      margin: 0px;
      padding: 9px;
      color: black;
      text-decoration: none;
  }
  /* welcome */
    
  .welcome{
    height: 500px;   
  }
    /* carousel */
    .image-carousel{
        margin:45px 350px 150px 320px; 
        
    }
}
@media only screen and (min-width:375px) and (max-width:667px){
    .nav a {
        margin: 7px;
    }
}

@media only screen and (min-width:414px) and (max-width:736px){
    .nav a {
        margin: 13px;
    }
}

